fastapi>=0.110
uvicorn[standard]>=0.29
python-multipart>=0.0.9
pydantic>=2.6

pandas>=2.2
numpy>=1.26
scikit-learn==1.8.0
lightgbm==4.7.0
joblib>=1.3
pyyaml>=6.0

sqlalchemy>=2.0
psycopg2-binary>=2.9
redis>=5.0
rq>=1.16

matplotlib>=3.8
seaborn>=0.13
shap>=0.45
imbalanced-learn>=0.12
optuna>=3.6

streamlit>=1.32
requests>=2.31

pytest>=8.0
httpx>=0.27
fakeredis>=2.21
